graft docs
graft src
graft tests

include .coveragerc
include .editorconfig
include .style.yapf

include CHANGELOG.rst
include LICENSE
include README.rst

include tox.ini .travis.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib

global-exclude .ipynb_checkpoints/*
prune docs/_build
